<?xml version="1.0" encoding="UTF-8"?>
<!--
    Kept to the subset of the schema that PHPUnit 9.6 through 12 all understand,
    since this package is tested against every one of them.
-->
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
